Python

pycache/
*.pyc
*.pyo
*.pyd
venv/
.env

FastAPI

*.log

Node.js

node_modules/
.next/
out/

VS Code

.vscode/

Operating System

.DS_Store
Thumbs.db

Docker

docker-compose.override.yml
